body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 15px 0;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

header nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

header nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

header nav a:hover {
    color: #cce7ff;
}

footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: 100px auto 60px; /* need space for header + footer */
    padding: 20px;
}

.item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.2s;
    width: auto;
    height: 100%;
    align-items: center;
}

.item:hover {
    transform: scale(1.05);
}

.img-with-text {
    width: auto;
    height: 10%;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.img-with-text h1 {
    color: #333;
}